<div class="container" style="max-width:600px;">
    <div class="mdl-grid" style="margin: 4.5em 0;">
        <figure class="error-image mdl-cell mdl-cell--6-col">
            <img style="width:100px;" src="https://blog.swift.how/ghost/img/404-ghost@2x.png">
        </figure>
        <section class="mdl-cell mdl-cell--6-col error-message" style="text-align:left;">
            <h1 class="error-code" style="color: #d2d2d2;font-size:3em;font-weight:bold;">500</h1>
            <h2 class="error-description" style="color: #d2d2d2;">Page Not Found</h2>
            <a class="error-link mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/">Go to the front page →</a>
        </section>
    </div>
</div>
