<div class="container canary-contact">
	<h1>Contact Us</h1>
</div>
<div class="container canary-contact-form">
	{{#if enquirySubmitted}}
	<h3 class="thanks">Thanks for getting in touch.</h3>
	{{else}}
	<form method="post">
		<input type="hidden" name="action" value="contact">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="name.full" id="name.full" />
			<label class="mdl-textfield__label" for="name.full">Name...</label>
		</div>
		<br/>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" pattern="^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$" name="email" id="email" />
			<label class="mdl-textfield__label" for="email">Email...</label>
			<span class="mdl-textfield__error">Input is not a email!</span>
		</div>
		<div class="canary-contact-form__options">
			<label class="question">What are you contacting us about?</label>
			<br/>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash1">
				<input checked class="mdl-radio__button" id="flash1" name="enquiryType" type="radio"
				value="message">
				<span class="mdl-radio__label">Just leaving a message</span>
			</label>
			<br/>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash2">
				<input class="mdl-radio__button" id="flash2" name="enquiryType" type="radio" value="question">
				<span class="mdl-radio__label">I've got a question</span>
			</label>
			<br/>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash3">
				{{#if isBugReport}}
				<input class="mdl-radio__button" id="flash3" name="enquiryType" type="radio" value="bug" checked>
				{{else}}
				<input class="mdl-radio__button" id="flash3" name="enquiryType" type="radio" value="bug">
				{{/if}}
				<span class="mdl-radio__label">Bug report</span>
			</label>
			<br/>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash4">
				<input class="mdl-radio__button" id="flash4" name="enquiryType" type="radio" value="other">
				<span class="mdl-radio__label">Something else...</span>
			</label>
			<br/>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<textarea class="mdl-textfield__input" type="text" rows= "8" name="message" id="message"></textarea>
			<label class="mdl-textfield__label" for="message">Leave us a message...</label>
		</div>
		<div class="form-actions">
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				OK, Send
			</button>
		</div>
	</form>
	{{/if}}
</div>
</div>
