{{!< default}}
<div class="spilled">
	<div class="container">
		<div class="slogan">
			<h1>"Sweet, Nutritious and Delicious"</h1>
			<p>The key to happiness is building with <strong>Swift</strong></p>

			<div class="slogan-image">
				<img src="/images/swift.how-birds@3x.png" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="canary-cards container">
	<h2>Learn more from Swift.How</h2>

	<div class="mdl-grid">
		<div class="canary-card mdl-cell mdl-card mdl-cell--4-col mdl-shadow--2dp">
		  <div class="mdl-card__media">
			<img src="/images/card-tutorial.jpg">
		  </div>
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">One app one day</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
		  </div>
		  <div class="mdl-card__actions">
			 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
			   Make the switch
			   <i class="material-icons">chevron_right</i>
			 </a>
		  </div>
		</div>

		<div class="canary-card mdl-cell mdl-card mdl-cell--4-col mdl-shadow--2dp">
		  <div class="mdl-card__media">
			<img src="/images/card-links.png">
		  </div>
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">One useful link one day</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
		  </div>
		  <div class="mdl-card__actions">
			 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
			   Make the switch
			   <i class="material-icons">chevron_right</i>
			 </a>
		  </div>
		</div>

		<div class="canary-card mdl-cell mdl-card mdl-cell--4-col mdl-shadow--2dp">
		  <div class="mdl-card__media">
			<img src="/images/card-apps.jpg">
		  </div>
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">Step by step tutorials</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
		  </div>
		  <div class="mdl-card__actions">
			 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
			   Make the switch
			   <i class="material-icons">chevron_right</i>
			 </a>
		  </div>
		</div>
	</div>

	<h2>Latest blog</h2>

	<div class="mdl-grid">
		<div class="canary-card mdl-cell mdl-card mdl-cell--12-col mdl-shadow--2dp">
			<div id="article-loading" class="mdl-grid canary-progress-wrap">
				<div class="mdl-cell mdl-cell--middle">
					<div class="canary-progress mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
				</div>
			</div>
			<div id="article" class="article"></div>
		</div>
	</div>
</div>
