{{! Header}}
<header class="blog-header spilled">
    <div class="container">
        <div class="blog-logo">
            <a href="//swift.how">
                <img src="/images/swift.how-logo-white-small.png" />
            </a>
        </div>

        <nav>
          {{> navigation}}
        </nav>
    </div>
    </div>
</header>
